@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
/**************** PARAMETRE GENERAUX ******************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}
body p {
  font-size: 1.1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

input, select {
  display: inline-block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.148);
  outline: none;
  background: none;
  padding: 20px 0 15px;
  font-size: 1.2rem;
}

.write {
  font-family: Allura, sans-serif;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
}

.brown {
  color: #A67342;
}

header {
  background: url(../../assets/images/bg-slider-06.jpg) center/cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header-container {
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 872px) {
  header .header-container nav .nav-middle {
    display: none;
  }
}
header .header-container nav, header .header-container .nav-middle, header .header-container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-container nav {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 70%;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 0.9em;
}
header .header-container nav li {
  cursor: pointer;
}
header .header-container nav .logo {
  font-size: 3rem;
}
header .header-container nav .logo .write {
  font-weight: 700;
}
header .header-container nav .nav-middle {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-container nav .nav-middle li:first-child {
  border-bottom: 1px solid white;
}
header .header-container nav .nav-middle li:hover {
  border-bottom: 1px solid white;
}
header .header-container nav .nav-middle:hover li:not(:hover) {
  border: none;
}
header .header-container nav .nav-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-container nav .nav-right li {
  padding: 0 10px;
}
header .header-container .header-content {
  position: relative;
  top: -30px;
}
header .header-container .header-content h1 {
  font-size: 4rem;
  letter-spacing: 10px;
  line-height: 50px;
  margin-bottom: 65px;
}
header .header-container .header-content h1 span {
  font-weight: 300;
  letter-spacing: 1px;
}
header .header-container .header-content img {
  height: 35px;
  width: 35px;
}
header .header-container .header-content p {
  margin-top: 45px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

main {
  background-color: rgb(27, 26, 24);
}
main .aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background: rgb(239, 238, 238);
}
@media screen and (max-width: 872px) {
  main .aboutUs {
    grid-template-columns: 1fr;
  }
}
main .aboutUs .left-part {
  padding: 20px;
}
main .aboutUs .left-part .left-content {
  border: 1px dashed #A67342;
  padding: 50px 22px 30px;
}
main .aboutUs .left-part .left-content h3 {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 30px;
}
main .aboutUs .left-part .left-content h3 span {
  font-size: 2.5rem;
}
main .aboutUs .left-part .left-content img {
  margin-bottom: 30px;
  height: 35px;
  width: 35px;
}
main .aboutUs .left-part .left-content #avatar1 {
  margin: 30px 0 10px;
  height: 90px;
  width: 90px;
  border-radius: 40px;
}
main .aboutUs .left-part .left-content .identite h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
}
main .aboutUs .left-part .left-content .identite p {
  color: rgb(179, 179, 179);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}
main .aboutUs .right-part {
  background: url(../../assets/images/store-01.jpg) center/cover;
}
main .dishMenu {
  position: relative;
  min-height: 1200px;
}
main .dishMenu .menu-heading,
main .dishMenu .menu-content {
  max-width: 1000px;
  margin: 0 auto;
}
main .dishMenu .menu-heading {
  text-align: center;
  color: white;
}
main .dishMenu .menu-heading h3 {
  font-size: 2.5rem;
  margin-top: 80px;
}
main .dishMenu .menu-heading img {
  height: 35px;
  width: 35px;
  margin: 40px 0 40px;
}
main .dishMenu .menu-heading .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
  font-size: 1.3rem;
}
@media screen and (max-width: 872px) {
  main .dishMenu .menu-heading .categories {
    font-size: 0.8rem;
  }
}
main .dishMenu .menu-heading .categories li {
  border-bottom: 1px solid #EFEEEE;
  padding-bottom: 10px;
}
main .dishMenu .menu-heading .categories li:hover {
  cursor: pointer;
}
main .dishMenu .menu-content {
  position: relative;
  text-align: left;
  border-top: 5px solid #A67342;
  background: #EFEEEE;
  z-index: 2;
  width: 90%;
}
main .dishMenu .menu-content .dish-gallery {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media screen and (max-width: 872px) {
  main .dishMenu .menu-content .dish-gallery {
    grid-template-columns: 1fr;
  }
}
main .dishMenu .menu-content .dish-gallery li {
  border-bottom: 1px dashed gray;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 180px;
}
main .dishMenu .menu-content .dish-gallery li .dish-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .dishMenu .menu-content .dish-gallery li .dish-content img {
  height: 110px;
  width: 110px;
  border-radius: 100px;
  margin-right: 15px;
}
main .dishMenu .menu-content .dish-gallery li .dish-content .dishName {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}
main .dishMenu .menu-content .dish-gallery li .price {
  font-weight: 900;
  font-size: 1.25rem;
}
main .dishMenu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../../assets/images/bg-menu-01.jpg) center/cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 750px;
  z-index: 0;
}
main .booking {
  background: #EFEEEE;
  max-width: 1300px;
  margin: 130px auto 150px auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 872px) {
  main .booking {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
main .booking .left-part {
  background: black;
  padding: 25px;
}
main .booking .left-part .left-content {
  border: 1px dashed #A67342;
  padding: 50px 20px 50px;
  text-align: center;
  color: #EFEEEE;
}
main .booking .left-part .left-content h3 {
  line-height: 25px;
  font-size: 1.5rem;
  letter-spacing: 4px;
}
main .booking .left-part .left-content h3 .write {
  font-size: 3.2rem;
}
main .booking .left-part .left-content img {
  height: 35px;
  width: 35px;
  margin-top: 40px;
}
main .booking .left-part .left-content h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 50px;
}
main .booking .left-part .left-content p {
  margin: 20px 0;
}
main .booking .right-part {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 80px 45px;
  width: 100%;
}
@media screen and (max-width: 872px) {
  main .booking .right-part {
    padding: 45px 40px 45px;
  }
}
main .booking .right-part h2 {
  font-size: 2.2rem;
  line-height: 35px;
}
main .booking .right-part h2 span {
  font-size: 3rem;
}
main .booking .right-part img {
  height: 35px;
  width: 35px;
  margin: 40px 40px;
}
main .booking .right-part form {
  width: 90%;
}
main .booking .right-part form .form-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 20px;
}
@media screen and (max-width: 872px) {
  main .booking .right-part form .form-content {
    grid-template-columns: 1fr;
  }
}
main .booking .right-part form .form-content input, main .booking .right-part form .form-content select {
  width: 100%;
}
main .booking .right-part form input[type=submit] {
  margin: 50px auto 0 auto;
  min-width: 174px;
  width: 50%;
  max-width: 200px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 600;
  border: none;
  background: black;
  color: white;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 872px) {
  main .booking .right-part form input[type=submit] {
    font-size: 0.9rem;
  }
}
main .booking .right-part form input[type=submit]:hover {
  color: #A67342;
}
main .event {
  text-align: center;
}
@media screen and (max-width: 872px) {
  main .event {
    display: none;
  }
}
main .event h2 {
  color: #EFEEEE;
  font-size: 2.5rem;
  line-height: 45px;
}
main .event h2 span {
  font-size: 3rem;
}
main .event img {
  height: 35px;
  width: 35px;
  margin: 45px 0 35px;
}
main .event .event-content {
  max-width: 1210px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
}
main .event .event-content .up-event, main .event .event-content .down-event, main .event .event-content .right-content {
  background: #EFEEEE;
}
main .event .event-content .up-event .title-event, main .event .event-content .down-event .title-event, main .event .event-content .right-content .title-event {
  font-size: 1.7rem;
  display: inline-block;
}
main .event .event-content .up-event p, main .event .event-content .down-event p, main .event .event-content .right-content p {
  color: rgba(128, 128, 128, 0.434);
  margin: 25px 0 25px;
}
main .event .event-content .up-event a, main .event .event-content .down-event a, main .event .event-content .right-content a {
  font-weight: 800;
  color: black;
}
main .event .event-content .up-event a:visited, main .event .event-content .down-event a:visited, main .event .event-content .right-content a:visited {
  color: black;
}
main .event .event-content .up-event .box-date, main .event .event-content .down-event .box-date, main .event .event-content .right-content .box-date {
  background: rgb(26, 27, 24);
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .event .event-content .up-event .box-date p, main .event .event-content .down-event .box-date p, main .event .event-content .right-content .box-date p {
  color: #EFEEEE;
  font-size: 1.3rem;
  line-height: 20px;
}
main .event .event-content .up-event .box-date p .bold, main .event .event-content .down-event .box-date p .bold, main .event .event-content .right-content .box-date p .bold {
  font-size: 2rem;
  font-weight: 700;
}
main .event .event-content .left-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
}
main .event .event-content .left-content .up-event, main .event .event-content .left-content .down-event {
  display: grid;
  grid-template-columns: 35% 65%;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .event .event-content .left-content .up-event .left-part, main .event .event-content .left-content .down-event .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .event .event-content .left-content .up-event .right-part, main .event .event-content .left-content .down-event .right-part {
  text-align: left;
  padding: 35px 25px 60px;
  letter-spacing: 2px;
}
main .event .event-content .left-content .up-event .left-part {
  background: url(../../assets/images/event-01.jpg) center/cover;
  height: 100%;
}
main .event .event-content .left-content .down-event .left-part {
  background: url(../../assets/images/event-02.jpg) center/cover;
  height: 100%;
}
main .event .event-content .right-content {
  margin-left: 25px;
  background: url(../../assets/images/event-03.jpg);
  padding: 30px;
}
main .event .event-content .right-content .content {
  background: #EFEEEE;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}
main .event .event-content .right-content .content .title-event {
  margin-top: 40px;
}
main .event .event-content .right-content .content p {
  margin-bottom: 80px;
  letter-spacing: 1px;
}
main .event .event-content .right-content .content a {
  letter-spacing: 2px;
}
main .event .event-content .right-content .content .box-date {
  display: inline-block;
}
main .ceo {
  position: relative;
  margin-top: 220px;
  min-height: 700px;
}
@media screen and (max-width: 872px) {
  main .ceo {
    width: 90%;
    margin: 0 auto;
  }
  main .ceo .ceo-content p {
    font-size: 1rem;
    line-height: 30px;
  }
}
main .ceo .ceo-content {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
  background: #EFEEEE;
  position: relative;
  padding: 80px 120px 80px;
  text-align: center;
  line-height: 40px;
  z-index: 2;
}
@media screen and (max-width: 872px) {
  main .ceo .ceo-content {
    padding: 80px 60px 80px;
  }
}
main .ceo .ceo-content img {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .ceo .ceo-content p {
  font-size: 1.3rem;
  letter-spacing: 1px;
}
main .ceo .ceo-content p .quote {
  font-size: 2rem;
}
main .ceo .ceo-content .identite {
  margin-top: 50px;
}
main .ceo .ceo-content .identite h4 {
  font-weight: 1;
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
}
main .ceo::after {
  content: "";
  position: absolute;
  background: url(../../assets/images/gmap.jpg) center/cover;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
}

footer {
  background: url(../../assets/images/bg-footer.jpg) center/cover;
}
@media screen and (max-width: 872px) {
  footer {
    background: rgb(27, 26, 24);
  }
}
footer .footer-content {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #EFEEEE;
}
@media screen and (max-width: 872px) {
  footer .footer-content {
    grid-template-columns: 1fr;
  }
  footer .footer-content .left-part {
    display: none;
  }
}
footer .footer-content .left-part, footer .footer-content .right-part {
  padding: 60px;
}
@media screen and (max-width: 872px) {
  footer .footer-content .left-part, footer .footer-content .right-part {
    padding: 30px;
  }
  footer .footer-content .left-part h3, footer .footer-content .right-part h3 {
    font-size: 0.9rem;
  }
}
footer .footer-content .left-part .write {
  font-size: 3rem;
  margin-bottom: 15px;
}
footer .footer-content .left-part p {
  line-height: 40px;
}
footer .footer-content .right-part input {
  margin: 20px 0 80px;
  padding: 8px 20px;
  border: 1px solid rgba(165, 77, 42, 0.227);
  font-size: 1rem;
  width: 60%;
}
footer .footer-content .right-part .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-content .right-part .social ul {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  max-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.496);
}
@media screen and (max-width: 872px) {
  footer .footer-content .right-part .social ul {
    width: 50%;
  }
}
footer .footer-content .right-part .social ul li {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer-content .right-part .social ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}/*# sourceMappingURL=index.css.map */